.receita {
    background: #fdfdfd;
    display: flex;
    flex-direction: column; /*Significa que não vai ser em linha, vai ser um em baixo do outro*/
    margin-bottom: 5rem;
}

@media  screen and (min-width: 0) {
    .receita {
        margin-right: 1rem;
        width: 100%; /*Uma receita por linha.*/
    }
}
/*Geralmente celulares*/

@media  screen and (min-width: 768px) {
    .receita {
        margin-right: 2.5rem;
        width: calc(33.33% - 2.5rem); /*menos a margin right*/
    }
}
/*Geralmente Tablets*/


@media  screen and (min-width: 992px) {
    .receita {
        margin-right: 5rem;
        width: calc(25% - 5rem);
    }
}
/*Geralmente desktops*/